@{
    ViewBag.Title = "Consulta de proveedores";
    if (string.IsNullOrEmpty(@WEBPJ.Helps.SessionFixed.IdUsuario))
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.mensaje != null)
{
    <div class="alert alert-warning alert-dismissible">
        <h4>
            <i class="icon fa fa-warning"></i> @ViewBag.mensaje
        </h4>
    </div>
}

@using (Html.BeginForm())
{
    @Html.Action("GridViewPartial_Proveedor");

}